@mixin center($type: 'both') {
    display: flex;

    @if($type =='orizontally') {
        justify-content: center;
    }

    @else if($type =='vertically') {
        align-items: center;
    }

    @else if($type =='both') {
        justify-content: center;
        align-items: center;
    }
}