@use './partial/_variables.scss' as *;

@use './partial/_mixins.scss' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    @include center();
    width: 1000px;
    height: 100%;
    margin: auto;

}